@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Varela+Round&display=swap');

$main-font: 'Noto Serif', serif;

$secondary-font: 'Varela Round', sans-serif;
$main-color: #7a7a7a;
$secondary-color: #ff0005;
$secondary-color-hover: #af0206;

$link-color:#ff0005;


